@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Fuzzy+Bubbles:wght@400;700&family=Lilita+One&family=Nosifer&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
body{
    background-image: url(../../images/img/fondo1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.form{
    background-color: white;
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    border-radius: 2vh;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.3);
    align-items: center;
    overflow: hidden;
}
.form .text{
    background: linear-gradient(to bottom,  rgb(186, 95, 223), #fff);
    width: 100%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
}
.form .text h1{
    text-align: center;
    margin-top: 3%;
    width: 80%;
    border-radius: 3vh;
    font-size: 4.5vh;
    color: #ffffff;
}

.form .text img{
    width: 22vh;
    height: 20vh;
    border-radius: 100%;
    border: 0.3vh solid rgb(204, 204, 203);
    background-color: white;
    box-shadow: 0px 1vh 1.5vh rgb(0, 0, 0, 0.5);
}

/* Codigo de estilos del formulario de inicio de sesion*/

.form .formulario{
    width: 100%;
    height: 57vh;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
.form .formulario form{
    width: 70%;
    height: 54vh;
    display: flex;
    flex-direction: column;
    padding: 4%;
    gap: 4%;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5vh;
    background-color: white;
    margin-top: 2%;
}
.form .formulario form h2{
    font-size: 3vh;
    text-align: center;
}
.form .formulario form label{
    font-size: 2vh;
}
.form .formulario form input{
    padding: 0.5vh;
    width: 100%;
    height: 6vh;
    border: 1px solid rgb(231, 230, 230);
    border-radius: 2vh;
    background-color: rgb(235, 232, 232);
    padding-left: 7vh;
}
.form .formulario form input:focus{
    outline: none;
}
.recuperar{
    display: flex;
    justify-content: center;
}
.recuperarContraseña{
    color: black;
    text-decoration: 2px underline rgb(0, 0, 0) ;
    font-size: 1.4vh;
}
.recuperarContraseña:hover{
    text-decoration: 2px underline rgb(145, 20, 145) ;
    color: rgb(145, 20, 145);
}
.form .formulario form .icons{
    width: 100%;
    height: 9vh;
    display: flex;
    border-radius: 4vh;
    justify-content: space-around;
}
.form .formulario form .icons .icono{
    width: 15%;
    height: 7vh;
    display: flex;
    background: rgb(202, 202, 202);
    padding: 1vh;
    border-radius: 100%;
}
.form .formulario form .icons .icono img{
    width: 100%;
    height: 5vh;
    border-radius: 100%;
} 
.form .formulario form button{
    border: 1px solid rgb(198, 130, 238);
    background-color: rgb(186, 95, 223);
    width: 100%;
    height: 6.5vh;
    padding: 1.5vh;
    border-radius: 2vh;
    color: white;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.5);
    cursor: pointer;
}
.form .formulario form button:hover{
    background-color: rgb(159, 42, 206);
    transition: 0.5s ease;
}
.form .otro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
}

.form  .otro p{
    color: rgb(0, 0, 0);
    font-size: 2vh;
    margin-bottom: 2%;
}
.registro{
    color: black;
    text-decoration: 2px underline rgb(0, 0, 0) ;
    font-size: 2vh;
    text-align: center;
}
.registro:hover{
    text-decoration: 2px underline rgb(159, 42, 206) ;
    color: rgb(159, 42, 206);
}
.containerIcon{
    position: relative;
}

.iconLogin{
    background-color: rgb(186, 95, 223);
    width: 15%;
    height: 6vh;
    position: absolute;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
    padding: 1.5vh 1.7vh;
    color: white;
}

.line{
    width: 0%;
    position: absolute;
    height: 4px;
    background-color: rgb(186, 95, 223);
    margin-top: -0.7vh;
    margin-left: 3vh;
    border-radius: 2vh;
    transition: .7s ease;
}

input:focus ~ .line{
    width: 90%;
    transition: .7s ease;
}

@media (min-width: 1024px){
    .form{
        flex-direction: row;
        flex-wrap: wrap;
        width: 70%;
        height: 80vh;
        margin: 0 auto;
        margin-top: 4.5%;
        border-radius: 2vh;
    }
    .form .text{
        flex-direction: row;
        flex-wrap: wrap;
        height: 80vh;
        width: 45%;
        border-top-left-radius: 2vh;
        margin-top: -7.5vh;
        border-bottom-left-radius: 2vh;
        
    }
    .form .text h1{
        font-size: 4vh;
    }
    .form .text img{
        width: 35vh;
        height: 30vh;
        position: relative;
        top: -15vh;
    }
    .form .formulario{
        width: 55%;
        height: 80vh;
        align-items: flex-start;
        border-radius: 2vh;
    }
    .form .formulario form{
        width: 100%;
        height: 80vh;
        border-radius: 0;
        box-shadow: none;
        margin-top: 0;
        padding: 8vh;
        border-radius: 2vh;
    }
    .form .formulario form h2{
        font-size: 4vh;
    }
    .form .formulario form label{
        font-size: 2.5vh;
    }
    .form .formulario form input{
        height: 7vh;
        padding-left: 10vh;
    }
    .iconLogin{
        height: 7vh;
        padding: 2.2vh 3.5vh;
    }
    input:focus ~ .line{
        width: 93%;
    }
    .recuperarContraseña{
        font-size: 2vh;
    }
    .form .formulario form .icons .icono{
        width: 12%;
    }
    .form .otro{
        margin-top: -30%;
        margin-left: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}