@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Fuzzy+Bubbles:wght@400;700&family=Lilita+One&family=Nosifer&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
body{
    background-image: url(../../images/img/fondo1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}   

.form{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 2vh;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.3);
    align-items: center;
    overflow: hidden;
}
.form .text{
    background: linear-gradient(to bottom,  rgb(186, 95, 223), #fff);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
}
.form .text h1{
    text-align: center;
    margin-top: 3%;
    width: 80%;
    border-radius: 3vh;
    font-size: 4.5vh;
    color: #ffffff;
}

.form .text img{
    width: 20vh;
    height: 20vh;
    border-radius: 100%;
    border: 0.5vh solid rgb(255, 255, 255);
    background-color: white;
    box-shadow: 0px 1vh 1.5vh rgb(0, 0, 0, 0.5);
}

/* Codigo de estilos del formulario de inicio de sesion*/

.form .formulario{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
.form .formulario form{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 4%;
    gap: 1rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5vh;
    background-color: white;
    margin-top: 1rem;
}
.form .formulario form h2{
    font-size: 3vh;
    text-align: center;
}
.form .formulario form label{
    font-size: 2vh;
}

.form .formulario form 
.containerIconEmail, 
.containerIconPassword
{
    position: relative;
}

.form .formulario form 
.iconLoginEmail,
.iconLoginPassword
{
    background-color: rgb(186, 95, 223);
    position: absolute;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
    padding: 1.5vh 1.7vh;
    color: white;
    height: 6vh;
    box-shadow: 0 4px 4px -2px rgba(30, 30, 31, 0.2); /* Sombra en la parte inferior */
    transition: box-shadow 0.3s ease; /* Suaviza la animación al enfocar */
}

.form .formulario form input{
    padding: 0.5vh;
    width: 100%;
    height: 6vh;
    border: 1px solid rgb(231, 230, 230);
    border-radius: 2vh;
    background-color: rgb(235, 232, 232);
    padding-left: 7vh;
    box-shadow: 0 4px 4px -2px rgba(30, 30, 31, 0.2); /* Sombra en la parte inferior */
    transition: box-shadow 0.3s ease; /* Suaviza la animación al enfocar */
}
.form .formulario form input:focus{
    outline: none;
}

.line{
    width: 0%;
    position: absolute;
    bottom: 0; /* Justo debajo del input */
    left: 3.5vh; /* Alinear con el borde izquierdo del input */
    height: 5px;
    background-color: rgb(186, 95, 223);
    transition: width 0.7s ease; /* Animación suave */
    border-bottom-right-radius: 2vh;
    box-shadow: 0 4px 4px -2px rgba(30, 30, 31, 0.2);
}

input:focus ~ .line{
    width: 90%;
    transition: .7s ease;
}
.recuperar{
    display: flex;
    justify-content: center;
}
.recuperarContraseña{
    color: black;
    text-decoration: 2px underline rgb(0, 0, 0) ;
    font-size: 1.4vh;
}
.recuperarContraseña:hover{
    text-decoration: 2px underline rgb(145, 20, 145) ;
    color: rgb(145, 20, 145);
}
.form .formulario form .icons{
    width: 100%;
    display: flex;
    border-radius: 4vh;
    justify-content: space-around;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.form .formulario form .icons .icono{
    display: flex;
    border-radius: 100%;    
    box-shadow: 0 4px 4px -2px rgba(30, 30, 31, 0.2);
    font-size: 2.5rem;
    padding: 0.4rem;
    background-color: rgb(198, 130, 238, 0.4);
}
.form .formulario form .buttonLogin{
    border: 1px solid rgb(198, 130, 238);
    background-color: rgb(186, 95, 223);
    width: 100%;
    height: 6.5vh;
    padding: 1.5vh;
    border-radius: 2vh;
    color: white;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.5);
    cursor: pointer;
}
.form .formulario form .buttonLogin:hover{
    background-color: rgb(159, 42, 206);
    transition: 0.5s ease;
}
.form .otro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
}

.form  .otro p{
    color: rgb(0, 0, 0);
    font-size: 2vh;
    margin-bottom: 2%;
}
.registro{
    color: black;
    text-decoration: 2px underline rgb(0, 0, 0) ;
    font-size: 2vh;
    text-align: center;
}
.registro:hover{
    text-decoration: 2px underline rgb(159, 42, 206) ;
    color: rgb(159, 42, 206);
}
.error-message{
    background: rgba(245, 101, 101, 0.2);
    color: #e53e3e;
    padding: 0.75rem;
    backdrop-filter: blur(10px);
    border-radius: 0.75rem;
    text-align: center;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
}

@media (min-width: 1024px){
    .form{
        flex-direction: row;
        flex-wrap: wrap;
        width: 70%;
        margin: 0 auto;
        margin-top: 2rem;
        border-radius: 2vh;
    }
    .form .text{
        flex-direction: row;
        flex-wrap: wrap;
        height: 89vh;
        width: 45%;
        border-top-left-radius: 2vh;
        margin-top: -7.5vh;
        border-bottom-left-radius: 2vh;
        
    }
    .form .text h1{
        font-size: 4vh;
    }
    .form .text img{
        width: 30vh;
        height: 30vh;
        position: relative;
        top: -15vh;
    }
    .form .formulario{
        width: 55%;
        align-items: flex-start;
        border-radius: 2vh;
    }
    .form .formulario form{
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        margin-top: 0;
        padding: 8vh;
        border-radius: 2vh;
    }
    .form .formulario form h2{
        font-size: 4vh;
    }
    .form .formulario form label{
        font-size: 2.5vh;
    }
    .form .formulario form input{
        height: 7vh;
        padding-left: 10vh;
    }
    .form .formulario form 
    .iconLoginEmail,
    .iconLoginPassword{
        height: 7vh;
        padding: 2.2vh 3.5vh;
    }
    input:focus ~ .line{
        width: 93%;
    }
    .line{
        position: absolute;
        margin-top: 1vh;
    }

    .recuperarContraseña{
        font-size: 2vh;
    }
    .form .formulario form .icons .icono{
        font-size: 2.8rem;
    }
    .form .formulario form .buttonLogin{
        margin-top: 1rem;
    }
    .form .otro{
        margin-top: -22%;
        margin-left: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}