@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Fuzzy+Bubbles:wght@400;700&family=Lilita+One&family=Nosifer&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
body{
    background-image: url(../../images/img/fondo1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}   

.form{
    background-color: white;
    margin-top: 16rem;
    margin-bottom: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 2vh;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.3);
    align-items: center;
    overflow: hidden; 
}
.form .text{
    background: linear-gradient(to bottom,  #B17DFF, #fff);
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
    overflow: hidden;
    position: relative;
}
.form .text h1{
    text-align: center;
    width: 50%;
    border-radius: 3vh;
    font-size: 5.5vh;
    color: #ffffff;
    position: relative;
    z-index: 2;
    font-size: 5.5vh;
    margin-top: -16vh;
}

.form .text img{
    width: 20vh;
    height: 20vh;
    border-radius: 100%;
    border: 0.5vh solid rgb(255, 255, 255);
    background-color: white;
    box-shadow: 0px 1vh 1.5vh rgb(0, 0, 0, 0.5);
}

.conten-bubbles-login {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
.conten-bubbles-login .bubbles1{
    position: absolute;
    width: 350px;
    height: 350px;
    background-color: #ffffff4d;
    backdrop-filter: blur(80px);
    border-radius: 50%;
    left: -18vw;
    top: -22vw;
}
.conten-bubbles-login .bubbles2{
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: #ffffff4d;
    backdrop-filter: blur(80px);
    border-radius: 50%;
    left: 55vw;
    top: 40vw;
}
.conten-bubbles-login .bubbles3{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #ffffff4d;
    backdrop-filter: blur(80px);
    border-radius: 50%;
    left: 76vw;
    top: 15.1vw;
}
.conten-bubbles-login .bubbles4{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #ffffff4d;
    backdrop-filter: blur(80px);
    border-radius: 50%;
    left: 59vw;
    top: 35vw;
}
.conten-bubbles-login .bubbles5{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff4d;
    backdrop-filter: blur(80px);
    border-radius: 50%;
    left: 62vw;
    top: 42vw;
}
.conten-bubbles-login .bubbles6{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #ffffff4d;
    backdrop-filter: blur(80px);
    border-radius: 50%;
    left: 25vw;
    top: 33vw;
}

.conten-bubbles-login .bubbles7{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #ffffff4d;
    backdrop-filter: blur(80px);
    border-radius: 50%;
    left: 31vw;
    top: 50vw;
}
.conten-bubbles-login .bubbles8{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #ffffff4d;
    backdrop-filter: blur(80px);
    border-radius: 50%;
    left: 3vw;
    top: 50vw;
}


/* Codigo de estilos del formulario de inicio de sesion*/

.form .formulario{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
.form .formulario form{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 4%;
    gap: 1rem;
    border-radius: 5vh;
    margin-top: 1rem;
}
.form .formulario form h2{
    font-size: 4.5vh;
    text-align: center;
    background: linear-gradient(100deg, #6349d5,#bea1fbd8); /* Degradado */
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(2px 2px 1.5px rgb(170, 170, 170));
}
.form .formulario form label{
    font-size: 2vh;
}

.form .formulario form 
.containerIconEmail, 
.containerIconPassword
{
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 1.5vh;
    width: 100%;
    height: 7vh;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.438);
    overflow: hidden;
    margin-top: -2vh;
    margin-bottom: 1.5vh;
}

.form .formulario form 
.iconLoginEmail,
.iconLoginPassword
{
    background-color: #B17DFF;
    position: absolute;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
    padding: 6vh 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 6vh;
    box-shadow: 0 4px 4px -2px rgba(30, 30, 31, 0.2);
    transition: box-shadow 0.3s ease; 
    
}

.form .formulario form input{
    padding: 0.5vh;
    width: 100%;
    border: 1px solid rgb(231, 230, 230);
    border-radius: 2vh;
    background-color: rgb(235, 232, 232);
    padding-left: 7vh;
    /* box-shadow: 0 4px 4px -2px rgba(30, 30, 31, 0.2); */
    transition: box-shadow 0.3s ease; /* Suaviza la animación al enfocar */
    height: 7vh;
    border-radius: 1.5vh;
    padding-left: 7.6vh;
    font-size: 1.7vh;
    border: 1px solid #cfbcec;
    background-color: #b398f232;
}
.form .formulario form input:focus{
    outline: none;
}

.line{
    width: 0%;
    position: absolute;
    bottom: 0; /* Justo debajo del input */
    left: 3.5vh; /* Alinear con el borde izquierdo del input */
    height: 5px;
    background-color: #B17DFF;
    transition: width 0.7s ease; /* Animación suave */
    border-bottom-right-radius: 2vh;
    box-shadow: 0 4px 4px -2px rgba(30, 30, 31, 0.2);
}

input:focus ~ .line{
    width: 100%;
    transition: .7s ease;
}
.recuperar{
    display: flex;
    justify-content: center;
}
.recuperarContraseña{
    color: black;
    text-decoration: 2px underline rgb(0, 0, 0) ;
    font-size: 1.5vh;
}
.recuperarContraseña:hover{
    text-decoration: 2px underline rgb(148, 84, 233) ;
    color: rgb(148, 84, 233);
}
.terminos-login{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    margin-top: 1.5rem;
    margin-left: 1vh;
}
.terminos-login p{
    font-size: 11px;
}
.terminos-login span{
    color: #a187de;
    text-decoration: underline;
}

.form .formulario form .buttonLogin{
    border: 1px solid rgb(185, 129, 250);
    background-color: #B17DFF;
    width: 100%;
    height: 6.5vh;
    padding: 1.5vh;
    border-radius: 2vh;
    color: white;
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.5);
    cursor: pointer;
}
.form .formulario form .buttonLogin:hover{
    background-color: rgb(148, 84, 233);
    transition: 0.5s ease;
}
.form .otro{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
    position: relative;
    z-index: 2;
}

.form  .otro p{
    color: rgb(0, 0, 0);
    font-size: 2vh;
    margin-bottom: 2%;
}
.registro{
    color: black;
    text-decoration: 2px underline rgb(0, 0, 0) ;
    font-size: 2vh;
    text-align: center;
}
.registro:hover{
    text-decoration: 2px underline rgb(148, 84, 233) ;
    color: rgb(148, 84, 233);
}
.error-message{
    color: #ba66f7;
    border: 1px solid #ccbcec;
    background-color: #f5efff;
    padding: 0.75rem;
    backdrop-filter: blur(10px);
    border-radius: 1.5vh;
    text-align: center;
    font-size: 13px;
    box-shadow: 0 4px 4px -2px rgba(30, 30, 31, 0.129);

}


@media (min-width: 768px) {

    .conten-bubbles-login .bubbles1{
        left: -14vw;
        top: -13vw;
    }
    .conten-bubbles-login .bubbles2{
        left: 55vw;
        top: 35vw;
    }
    .conten-bubbles-login .bubbles3{
        left: 74vw;
        top: 15.1vw;
    }
    .conten-bubbles-login .bubbles4{
        left: 57vw;
        top: 28vw;
    }
    .conten-bubbles-login .bubbles5{
        left: 59vw;
        top: 33vw;
    }
    .conten-bubbles-login .bubbles6{
        width: 30px;
        height: 30px;
        left: 24vw;
        top: 27vw;
    }
    
    .conten-bubbles-login .bubbles7{  
        left: 35vw;
        top: 38vw;
    }
    .conten-bubbles-login .bubbles8{
        left: 5vw;
        top: 38vw;
    }

}
@media (min-width: 1024px){
    .form{
        flex-direction: row;
        width: 70%;
        height: 80vh;
        margin: 0 auto;
        border-radius: 2vh;
    }
    .form .text{
        width: 45%;
        height: 80vh;
        border-top-left-radius: 2vh;
        border-bottom-left-radius: 2vh;
        top: 0;
        
    }
    .form .text h1{
        font-size: 4vh;
    }
    .form .text img{
        width: 25vh;
        height: 25vh;
    }
    
    .conten-bubbles-login .bubbles1{
        left: -10vw;
        top: -13vw;
    }
    .conten-bubbles-login .bubbles2{
        left: 12vw;
        top: 25vw;
    }
    .conten-bubbles-login .bubbles3{
        left: 23vw;
        top: 7vw;
    }
    .conten-bubbles-login .bubbles4{
        left: 21vw;
        top: 14vw;
    }
    .conten-bubbles-login .bubbles5{
        left: 22.5vw;
        top: 17vw;
    }
    .conten-bubbles-login .bubbles6{
        left: 7vw;
        top: 13.5vw;
    }
    
    .conten-bubbles-login .bubbles7{
        left: 6.4vw;
        top: 23vw;
    }
    .conten-bubbles-login .bubbles8{
        left: 1vw;
        top: 28vw;
    }


    .form .formulario{
        width: 55%;
        align-items: flex-start;
        border-radius: 2vh;
    }
    .form .formulario form{
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        margin-top: 0;
        padding: 8vh;
        border-radius: 2vh;
    }
    .form .formulario form h2{
        font-size: 4vh;
    }
    .form .formulario form label{
        font-size: 2.5vh;
    }
    .form .formulario form input{
        height: 7vh;
        padding-left: 10vh;
    }
    .form .formulario form 
    .iconLoginEmail,
    .iconLoginPassword{
        height: 7vh;
        padding: 2.2vh 2.5vh;
    }
    input:focus ~ .line{
        width: 93%;
    }
    .line{
        position: absolute;
        margin-top: 1vh;
    }

    .recuperarContraseña{
        font-size: 2vh;
    }
    .form .formulario form .icons .icono{
        font-size: 2.8rem;
    }
    .form .formulario form .buttonLogin{
        margin-top: 1rem;
    }
    .form .otro{
        margin-top: 32%;
        margin-left: 9.5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
    }
}