.Recover{
    position: relative;
    border-radius: 2vh;
    width: 100%;
}
.iconEma{
    position: absolute;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
    color: white;
    padding: 1.9vh 2vh;
}
.shadow form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}
.coo {
    width: 100%;
    padding-left: 45px;
    box-sizing: border-box;
}
input:focus{
    outline: none;
}
input{
    box-shadow: 0 4px 4px -2px rgba(30, 30, 31, 0.2); /* Sombra en la parte inferior */
}

.linee{
    width: 0%;
    position: absolute;
    bottom: 0; /* Justo debajo del input */
    left: 3.5vh; /* Alinear con el borde izquierdo del input */
    height: 5px;
    transition: width 0.7s ease; /* Animación suave */
    border-bottom-right-radius: 2vh;
}
input:focus ~ .linee{
    width: 95%;
    transition: .7s ease;
}
.buttonPass:hover{
    background-color: rgb(111, 34, 182);
    transition: 0.5s ease;
}
