.recover-password-custom{
    padding-top: 0 !important;
}
.containerrecover{
    position: relative;
    overflow: hidden;
    border-radius: 1.5vh;
}
.iconResetContra{
    background-color: #B17DFF;
    position: absolute;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
    padding: 1.5vh 1.7vh;
    color: white;
    height: 100%;
    top: 0;
    box-shadow: 0 4px 4px -2px rgba(30, 30, 31, 0.2); /* Sombra en la parte inferior */
    transition: box-shadow 0.3s ease; /* Suaviza la animación al enfocar */
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 768px ){
    .recover-password-custom{
        padding-top: 1rem !important;
    }
}
@media (min-width: 1024px ){
    .iconResetContra{
        padding: 2.2vh 2.4vh;
    }
    input:focus ~ .line{
        width: 100%;
    }
}