*{
    margin: 0;
}
.registerFrom{
    width: 100%;
    margin-top: 15rem;
    margin-bottom: 20vh;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 2vh;
    box-shadow: 0px 1vh 1.5vh rgb(0, 0, 0, 0.3);
    overflow: hidden;
}
.registerFrom .bienvenidoRegister{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: -1;
    position: relative;
    background: linear-gradient(to bottom, #5acbba 1%, #fff 90%);

}
.registerFrom .bienvenidoRegister h1{
    text-align: center;
    width: 50%;
    font-size: 5.5vh;
    padding-bottom: 4vh;
    margin-top: -9vh;
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
    color: white;

}
.registerFrom .bienvenidoRegister .registerAnimation{
    width: 20vh;
    height: 20vh;
    border-radius: 100%;
    border: 0.7vh solid rgb(255, 255, 255);
    background-color: white;
    box-shadow: 0px 1vh 1.5vh rgb(0, 0, 0, 0.5);
}

.conten-bubbles-register {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
.conten-bubbles-register .bubbless1{
    position: absolute;
    width: 350px;
    height: 350px;
    background-color: #ffffff4d;
    backdrop-filter: blur(80px);
    border-radius: 50%;
    left: -18vw;
    top: -22vw;
}
.conten-bubbles-register .bubbless2{
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: #ffffff4d;
    backdrop-filter: blur(80px);
    border-radius: 50%;
    left: 55vw;
    top: 40vw;
}
.conten-bubbles-register .bubbless3{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #ffffff4d;
    backdrop-filter: blur(80px);
    border-radius: 50%;
    left: 76vw;
    top: 15.1vw;
}
.conten-bubbles-register .bubbless4{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #ffffff4d;
    backdrop-filter: blur(80px);
    border-radius: 50%;
    left: 59vw;
    top: 35vw;
}
.conten-bubbles-register .bubbless5{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffffff4d;
    backdrop-filter: blur(80px);
    border-radius: 50%;
    left: 62vw;
    top: 42vw;
}
.conten-bubbles-register .bubbless6{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #ffffff4d;
    backdrop-filter: blur(80px);
    border-radius: 50%;
    left: 25vw;
    top: 33vw;
}

.conten-bubbles-register .bubbless7{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #ffffff4d;
    backdrop-filter: blur(80px);
    border-radius: 50%;
    left: 31vw;
    top: 50vw;
}
.conten-bubbles-register .bubbless8{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #ffffff4d;
    backdrop-filter: blur(80px);
    border-radius: 50%;
    left: 3vw;
    top: 50vw;
}
.registerFrom .FormularioRegister{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    margin-top: -2rem;
}
 .registerFrom .FormularioRegister form .errorMessageRegister{
    padding: 2vh 2vh;
    margin-bottom:2vh ;
    margin-top: -1vh;
}
.registerFrom .FormularioRegister form{
    width: 83%;
    margin-top: -6%;
    margin-bottom: 10vh;
    display: flex;
    padding: 4%;
    border-radius: 2vh;
    flex-direction: column;
    /* box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    background-color: white; */
}
.registerFrom .FormularioRegister form h2{
    font-size: 5vh;
    text-align: center;
    margin-bottom: 3vh;
    background: linear-gradient(100deg, #49d5ce,#5e64ffd8); /* Degradado */
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(2px 2px 1.5px rgb(170, 170, 170));
}
.registerFrom .FormularioRegister form
 .contaiName,
 .contaiUsername,
 .contaiEmail,
 .contaiPassword{
    display: flex;
    align-items: center;
    margin-bottom: 2.5vh;
    border-radius: 1.5vh;
    width: 100%;
    height: 7vh;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.438);
    padding: 0%;
    position: relative;
    overflow: hidden;
}
.registerFrom .FormularioRegister form
.contaiName .iconame,
.contaiUsername .iconUsername,
.contaiEmail .iconEmail,
.contaiPassword .iconPass{
    background-color: #87ded1;
    padding: 3vh 2.1vh;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
    position: absolute;
}


.registerFrom .FormularioRegister form input{
    width: 100%;
    height: 7vh;
    border-radius: 1.5vh;
    padding-left: 7.6vh;
    border: none;
    font-size: 1.7vh;
    border: 1px solid #bcece5;
    background-color: #e1fcff4b;
    
}
.registerFrom .FormularioRegister form input:focus{
    outline: none;
}
.registerFrom .FormularioRegister form .linea{
    width: 0%;
    position: absolute;
    background-color: #87ded1;
    height: 12%;
    border-bottom-right-radius: 9vh;
    bottom: 0;
    left: 3.5vh;
    height: 5px;
    transition: width 0.7s ease; 
}
.registerFrom .FormularioRegister form  input:focus ~ .linea{
    width: 100%;
    transition: .7s ease;
    height: 0.7vh;
}
.registerFrom .FormularioRegister form .iconos-register{
    width: 100%;
    height: 6vh;
    margin-top: 2vh;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4vh;
}

.registerFrom .FormularioRegister form .iconos-register .iconoRe{
    display: flex;
    border-radius: 100%;    
    box-shadow: 0 4px 4px -2px rgba(30, 30, 31, 0.2);
    font-size: 2.5rem;
    padding: 0.4rem;
    background-color: rgb(198, 130, 238, 0.4);
}
.terminos{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    margin-right: 1rem;
}
.terminos p{
    font-size: 12px;
}
.terminos span{
    color: #87ded1;
    text-decoration: underline;
}
.registerFrom .FormularioRegister form button{
    margin-top: 2vh;
    border: 0.3vh solid #87ded1;
    background-color: #A7EFE4;
    width: 100%;
    height: 6.5vh;
    padding: 1.5vh;
    border-radius: 2vh;
    color: #242424;
    box-shadow: 0px 0.1vh 1.5vh rgba(64, 64, 64, 0.5);
    cursor: pointer;
}
.registerFrom .FormularioRegister form button:hover{
    background-color: #55c7b6;
    transition: 0.5s ease-out;
}
.Link-Sesion{
    position: relative;
    width: 100%;
    margin-top: -35vh;  
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.2vh;
    margin-bottom: 11.5vh;
    z-index: 1001;
}
.Link-Sesion .link{
    width: 14vh;
    color: #242424;
    text-decoration: underline 0.3vh solid rgb(0, 0, 0);
}
.Link-Sesion .link:hover{
    color: #22c6db;
    text-decoration: underline 0.3vh solid #22c6db;
}
.errorMessageRegister{
    color: #35c8df;
    border: 1px solid #bcece5;
    background-color: #e1fcffae;
    padding: 0.75rem;
    backdrop-filter: blur(10px);
    border-radius: 1.5vh;
    text-align: center;
    font-size: 13px;
    box-shadow: 0 4px 4px -2px rgba(30, 30, 31, 0.129);

}
@media (min-width: 768px) {

    .conten-bubbles-register .bubbless1{
        left: -14vw;
        top: -13vw;
    }
    .conten-bubbles-register .bubbless2{
        left: 55vw;
        top: 35vw;
    }
    .conten-bubbles-register .bubbless3{
        left: 74vw;
        top: 15.1vw;
    }
    .conten-bubbles-register .bubbless4{
        left: 57vw;
        top: 28vw;
    }
    .conten-bubbles-register .bubbless5{
        left: 59vw;
        top: 33vw;
    }
    .conten-bubbles-register .bubbless6{
        width: 30px;
        height: 30px;
        left: 24vw;
        top: 27vw;
    }
    
    .conten-bubbles-register .bubbless7{  
        left: 35vw;
        top: 38vw;
    }
    .conten-bubbles-register .bubbless8{
        left: 5vw;
        top: 38vw;
    }

}
@media (min-width: 1024px) {
   
    .registerFrom{
        flex-direction: row;
        width: 70%;
        height: 80vh;
        margin: 0 auto;
        border-radius: 2vh;
        margin-top: -4rem;
        align-items: center;
        max-height: 85vh;

    }
    .registerFrom .bienvenidoRegister{
        order: 1;
        height: 85vh;
        width: 45%;
    }
    .conten-bubbles-register .bubbless1{
        left: -10vw;
        top: -13vw;
    }
    .conten-bubbles-register .bubbless2{
        left: 12vw;
        top: 25vw;
    }
    .conten-bubbles-register .bubbless3{
        left: 23vw;
        top: 7vw;
    }
    .conten-bubbles-register .bubbless4{
        left: 21vw;
        top: 14vw;
    }
    .conten-bubbles-register .bubbless5{
        left: 22.5vw;
        top: 17vw;
    }
    .conten-bubbles-register .bubbless6{
        left: 7vw;
        top: 13.5vw;
    }
    
    .conten-bubbles-register .bubbless7{
        left: 6.4vw;
        top: 23vw;
    }
    .conten-bubbles-register .bubbless8{
        left: 1vw;
        top: 28vw;
    }


  
    .registerFrom .bienvenidoRegister h1{
        order: -1;
        margin-top: -35%;
        font-size: 4vh;
    }
    .registerFrom .bienvenidoRegister .registerAnimation{
        margin-top: 1%;
        width: 25vh;
        height: 25vh;
    }
    .registerFrom .FormularioRegister{
        width: 55%;
        height: 80vh;
        align-items: flex-start;
    }
    .registerFrom .FormularioRegister form{
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        margin-top: 0;
        padding: 15vh 8vh;
    }
    .registerFrom .FormularioRegister form h2{
        margin-top: -3vh;
        
    }
    .registerFrom .FormularioRegister form .linea{
        height: 0.8vh;
    }
.Link-Sesion{
    width: 31.6%;
    margin-left: 53.5%;
    margin-top: -18vh;
}

}
@media (min-width: 1440px){
}