*{
    margin: 0;
    padding: 0;


}
.registerFrom{
    width: 100%;
    margin-top: -1vh;
    margin-bottom: 20vh;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 2vh;
    box-shadow: 0px 1vh 1.5vh rgb(0, 0, 0, 0.3);
    overflow: hidden;
}
.registerFrom .bienvenidoRegister{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    order: -1;
    background: linear-gradient(to bottom, #A7EFE4 1%, #fff 90%);
}
.registerFrom .bienvenidoRegister h1{
    order: -1;
    text-align: center;
    width: 80%;
    font-size: 4.5vh;
    padding-bottom: 4vh;
    margin-top: -9vh;
}
.registerFrom .bienvenidoRegister .registerAnimation{
    width: 20vh;
    height: 20vh;
    border-radius: 100%;
    border: 0.7vh solid rgb(255, 255, 255);
    background-color: white;
    box-shadow: 0px 1vh 1.5vh rgb(0, 0, 0, 0.5);
}
.registerFrom .FormularioRegister{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    background-color: rgb(255, 255, 255);
}
 .registerFrom .FormularioRegister form .errorMessageRegister{
    padding: 2vh 2vh;
    margin-bottom:2vh ;
    margin-top: -1vh;
}
.registerFrom .FormularioRegister form{
    width: 83%;
    margin-top: -6%;
    margin-bottom: 10vh;
    display: flex;
    padding: 4%;
    border-radius: 2vh;
    flex-direction: column;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    background-color: white;
}
.registerFrom .FormularioRegister form h2{
    font-size: 3vh;
    text-align: center;
    margin-bottom: 3vh;

}
.registerFrom .FormularioRegister form
 .contaiName,
 .contaiUsername,
 .contaiEmail,
 .contaiPassword{
    display: flex;
    align-items: center;
    margin-bottom: 2.5vh;
    border-radius: 2vh;
    width: 100%;
    height: 7vh;
    box-shadow: 0vh 0.1vh 0.5vh rgba(0, 0, 0, 0.438);
    padding: 0%;
    position: relative;
    overflow: hidden;
}
.registerFrom .FormularioRegister form
.contaiName .iconame,
.contaiUsername .iconUsername,
.contaiEmail .iconEmail,
.contaiPassword .iconPass{
    background-color: #87ded1;
    padding: 3vh 2.1vh;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
    position: absolute;
}


.registerFrom .FormularioRegister form input{
    width: 100%;
    height: 7vh;
    border-radius: 2vh;
    padding-left: 7.6vh;
    border: none;
    background-color: #e2dfdf;
    font-size: 1.7vh;
}
.registerFrom .FormularioRegister form input:focus{
    outline: none;
}
.registerFrom .FormularioRegister form .linea{
    width: 0%;
    position: absolute;
    background-color: #87ded1;
    margin-top: 6.4vh;
    margin-left: 1vh;
    height: 12%;
    border-bottom-right-radius: 9vh;
    transition: .7s ease;
}
.registerFrom .FormularioRegister form  input:focus ~ .linea{
    width: 100%;
    transition: .7s ease;
    height: 0.7vh;
}
.registerFrom .FormularioRegister form .iconos-register{
    width: 100%;
    height: 6vh;
    margin-top: 2vh;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4vh;
}

.registerFrom .FormularioRegister form .iconos-register .iconoRe{
    display: flex;
    border-radius: 100%;    
    box-shadow: 0 4px 4px -2px rgba(30, 30, 31, 0.2);
    font-size: 2.5rem;
    padding: 0.4rem;
    background-color: rgb(198, 130, 238, 0.4);
}

.registerFrom .FormularioRegister form button{
    border: 0.3vh solid #87ded1;
    background-color: #A7EFE4;
    width: 100%;
    height: 6.5vh;
    padding: 1.5vh;
    border-radius: 2vh;
    color: #242424;
    box-shadow: 0px 0.1vh 1.5vh rgba(64, 64, 64, 0.5);
    cursor: pointer;
}
.registerFrom .FormularioRegister form button:hover{
    background-color: #55c7b6;
    transition: 0.5s ease-out;
}
.Link-Sesion{
    position: relative;
    width: 100%;
    margin-top: -30vh;  
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.2vh;
    margin-bottom: 4vh;
}
.Link-Sesion .link{
    width: 14vh;
    color: #242424;
    text-decoration: underline 0.3vh solid rgb(0, 0, 0);
}
.Link-Sesion .link:hover{
    color: #22c6db;
    text-decoration: underline 0.3vh solid #22c6db;
}
.errorMessageRegister{
    background: rgba(245, 101, 101, 0.2);
    color: #e53e3e;
    padding: 0.75rem;
    backdrop-filter: blur(10px);
    border-radius: 0.75rem;
    text-align: center;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
}

@media (min-width: 1024px){
    .registerFrom{
        flex-direction: row;
        width: 70%;
        height: 80vh;
        margin: 0 auto;
        margin-top: 4.5%;
        border-radius: 2vh;
        background-color: #5cd6c4;
    }
    .registerFrom .bienvenidoRegister{
        order: 1;
        height: 85vh;
        width: 45%;
    }
    .registerFrom .bienvenidoRegister h1{
        order: -1;
        margin-top: -35%;
        font-size: 4vh;
    }
    .registerFrom .bienvenidoRegister .registerAnimation{
        margin-top: 1%;
        width: 25vh;
        height: 25vh;
    }
    .registerFrom .FormularioRegister{
        width: 55%;
        height: 80vh;
        align-items: flex-start;
    }
    .registerFrom .FormularioRegister form{
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        margin-top: 0;
        padding: 8vh;
    }
    .registerFrom .FormularioRegister form h2{
        margin-top: -3vh;
        
    }
    .registerFrom .FormularioRegister form .linea{
        height: 0.8vh;
    }
.Link-Sesion{
    width: 31.6%;
    margin-left: 53.5%;
    margin-top: -18vh;
}
}