.navbar {
  width: calc(100% - 1rem);
  border-radius: 3vh;
  box-shadow: 0 0.25rem 0.625rem rgba(15, 14, 14, 0.3);
  padding: 0.5rem;
}
  .navbar.modal-open {
    z-index: 1200; /* Reducir la prioridad cuando el modal está abierto */
  }
  .user-navbar {
  background-image: url(../../images/img/imFondo.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  }
  .user-navbar::after {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background-image: url(../../images/img/fondo1.jpeg);
  z-index: -1;
  }
  .navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  .navbar-left {
  display: flex;
  align-items: center;
  }
  .navbar-img {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  }
  .navbar-toggle-button {
  width: 2.5rem;
  height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
  color: #7b6fca;
  }
  .navbar-toggle-button:hover{
  transform: rotate(360deg);
  transition: all 0.5s ease;
  border: 1px solid rgb(197, 168, 235);
  }
  .navbar-img img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: 0 0.125rem 0.75rem rgba(0, 0, 0, 0.2);
  background-color: rgb(235, 235, 232);
  padding: 0.25rem;
  }
  .navbar-description {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1.5rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  padding: 0.5rem 0.5rem;
  margin-left: 0.7rem;
  }
  .navbar-description h3 {
  font-size: 1rem;
  color: #a545ff;
  margin-right: 1rem;
  }
  
  .navbar-right {
  display: flex;
  align-items: center;
  }
  .navbar-actions {
  margin-right: 0.5rem;
  }
  .navbar-acti {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
  }
  .navbar-back-button {
  backdrop-filter: blur(10px);
  border: 1px solid rgb(202, 201, 201);
  background-color: rgba(255, 255, 255, 0.2);
  color: #7736ee;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .navbar-back-button:hover {
  transform: scale(1.1);
  background-color: rgba(189, 187, 194, 0.8);
  }
  .navbar-logo{
  border: 2px solid rgb(235, 235, 232);
  }
  .navbar-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
  .navbar-toggle-description {
  width: 100%;
  height: 2rem;
  margin-top: 0.6rem;
  margin-bottom: 0.2rem;
  color: #c297eb;
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #c297eb;
  border-radius: 1.5rem;
  background-color: rgba(255, 255, 255, 0.3);
  }
  .navbar-toggle-description .icono01{
  transition: all 0.5s ease;
  }
  .navbar-toggle-description .icono01:hover{
  transform: scale(1.4);
  transition: all 0.5s ease;
  color: #7736ee;
  }
  .navbar-expanded-content {
  display: none;
  padding: 1rem;
  background-image: url(../../images/img/imFondo.jpeg);
  border-radius: 0.5rem;
  margin-top: 1rem;
  box-shadow: 0 0 0.9rem rgba(0, 0, 0, 0.4);
}
  .navbar.expanded .navbar-expanded-content {
  display: block;
  }
  .navbar-description-p {
  margin-bottom: 0.5rem;
  }
  .navbar-description-p > p{
  font-size: 0.8rem;
  color: #424142;
  }
  .acciones {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  }
  .acciones p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #a545ff;
  font-size: 0.9rem;
  }
  .icono0 {
  font-size: 1.2rem;
  }
  /* Tablet styles */
  @media (min-width: 768px) {
  .navbar {
  padding: 0.75rem;
  }
  .navbar-img img {
  width: 3.5rem;
  height: 3.5rem;
  }
  .navbar-expanded-content {
  display: flex;
  flex-direction: column;
  width: calc(60% - 2rem);
  margin-left: 16rem;
  margin-top: -4rem;
  background: none;
  gap: 0.5rem;
  backdrop-filter: none;
  padding: 1rem;
  box-shadow: none;
  }
  .navbar-description-p > p{
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1.5rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  margin-left: -1rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  }
  .navbar-toggle-description {
  display: none;
  }
  .navbar-expanded-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  .acciones {
  flex-direction: row;
  gap: 0.4rem;
  }
  .acciones p{
  font-size: 0.7rem;
  }
  .link2{
  border-left: 1.5px solid #757475;
  border-right: 1.5px solid #757475;
  padding-left: 1rem;
  padding-right: 1rem;
  }
  }
  /* Desktop styles */
  @media (min-width: 1024px) {
  .navbar {
  top: 0.7rem;
  left: 1rem;
  right: 1rem;
  width: calc(100% - 2rem);
  padding: 1rem;
  }
  .user-navbar::after {
  top: -1rem;
  height: 1rem;
  }
  .navbar-img img {
  width: 5.5rem;
  height: 5.5rem;
  }
  .navbar-description {
  padding: 0.55rem 1.5rem;
  margin-left: 1rem;
  }
  .navbar-description h3 {
  font-size: 1.2rem;
  }

  .navbar-actions {
  margin-right: 1rem;
  }
  .navbar-acti {
  width: 3.4rem;
  height: 3.4rem;
  }
  .navbar-back-button {
  width: 3rem;
  height: 3rem;
  font-size: 1.25rem;
  }
  .navbar-logo{
  border: 3px solid rgb(235, 235, 232);
  }
  .navbar-expanded-content {
  display: flex;
  flex-direction: column;
  width: calc(60% - 2rem);
  margin-left: 18rem;
  margin-top: -5.5rem;
  background: none;
  gap: 0.2rem;
  backdrop-filter: none;
  }
  
  .navbar-description-p > p{
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1.5rem;
  padding: 0.8rem 1rem;
  font-size: 0.9rem;
  margin-left: 1rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
  }

  .acciones {
  gap: 2rem;
  margin-top: 0rem;
  }
  .acciones p {
  font-size: 1rem;
  }
  .link2{
  border-left: 1.5px solid #757475;
  border-right: 1.5px solid #757475;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  
  }
  .icono0 {
  font-size: 1.5rem;
  }
  .navbar-toggle-button{
  display: none;
  }
  }
  
  /* Large desktop styles */
  @media (min-width: 1440px) {
  .navbar {
  top: 0.7rem;
  padding: 2.5rem;
  }
  
  .navbar-img img {
  width: 5rem;
  height: 5rem;
  }
  
  .navbar-description {
  padding: 0.7rem 2.5rem;
  margin-left: 1.5rem;
  }
  
  .navbar-description h3 {
  font-size: 1.5rem;
  line-height: 1;
  }
  
  .navbar-expanded-content {
  margin-left: 26rem;
  margin-top: -6rem;
  padding: 1rem;
  }
  
  .navbar-description-p > p {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  }
  
  .acciones {
  gap: 2.3rem;
  margin-top: 0.5rem;
  }
  
  .acciones p {
  font-size: 1.2rem;
  }
  
  .icono0 {
  font-size: 1.5rem;
  }
  
  .navbar-back-button {
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  }
  }