.containerNoti{
    position: relative;
    display: inline-block;
}
.campana {
    background-color: rgba(255, 255, 255, 0.2);
    color: #a545ff;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}
.containerNotiOpen{
    position: fixed;
    top: 9rem;
    left: 11rem;
    background: rgba(255, 255, 255);
    border-radius: 1rem;
    padding: 1rem;
    opacity: 0;
    z-index: 1001;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
}
.containerNoti.active .containerNotiOpen{
    opacity: 1;
    pointer-events: auto; /* Permite interacción */
    visibility: visible; /* Asegura que sea visible */
    transform: translate(-50%, -50%); /* Desliza hacia el centro */
}
.headerNoti{
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    padding-bottom: 0.7rem;
    border-bottom: 1px solid rgba(151, 71, 255, 0.4);
}
.headerNoti .textNoti{
    color: #bda7f1;
    font-size: 0.9rem;
    font-weight: 600;
    margin-right: 1.5rem;
}
.closeNoti{
    background: none;
    border: none;
    color: #666;
    font-size: 1.3rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.closeNoti:hover{
    background: rgba(151, 71, 255, 0.1);
    color: #9747ff;
    transition: all 0.3s ease;
}
.notNoti{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.7rem;
}
.iconNot{
    color: rgba(131, 131, 131, 0.5);
    font-size: 3rem;
}
.textNotNoti{
    font-size: 0.8rem;
    color: rgba(131, 131, 131, 0.5);
}
@media(min-width: 1024px){
    .containerNotiOpen{
        z-index: 9999;
        left: 6rem;
        top: 11rem;
    }
    .headerNoti .textNoti{
        font-size: 1.3rem;
    }
    .textNotNoti{
        font-size: 1rem;
    }
}