.posts{
    width: 100%;
    border: 1px solid rgb(196, 199, 196);
    box-shadow: 0vh 0.2vh 1vh gray;
    border-radius: 2vh;
    overflow: hidden;
    padding-bottom: 3vh;
    font-size: 2.vh;
    background-color: #fff;
    transition: all 0.5s ease-in-out; 
}

.posts .post .autor-info{
    background-color: #b685e4bd;
    box-shadow: 0vh 0.3vh 1.1vh gray;
    padding: 0.1vh 1.5vh;
    text-align:left;
}
.posts .post .autor-info .fechacreate{
    display: flex;
    justify-content: end;
    color: #e4e4e4;
    text-decoration:underline 0.3vh solid #e4e4e4dc;
    text-underline-offset: 0.3vh;
    padding-top: 0.5vh;
}
.posts .post .autor-info .ft-name{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 3vh;
    margin-bottom: 2vh;
}
.posts .post .autor-info .ft-name .imguser{
    width: 11vh;
    height: 11vh;
    overflow: hidden;
    border: 0.6vh solid #fff;
    box-shadow: 0vh 0.1vh 1vh rgba(0, 0, 0, 0.623);
    border-radius: 10vh;
}
.posts .post .autor-info .ft-name .info-post p:nth-child(2){
    font-size: 2.2vh;
}
.posts .post .autor-info .line{
    width: 27.5%;
    margin-left: -0.5vh;
    height: 0.3vh;
    background-color: #e2e2e2;
}
.posts .post  .contenido-post{
    padding: 2vh 3vh;
}
.posts .post  .contenido-post p{
    padding: 2vh 0vh 0.3vh 1.8vh;

}
.posts .post .lineTwo{
    width: 88%;
    height: 0.3vh;
    background-color: #ada9a9;
    margin-left: 5.7%;
    margin-bottom: 1vh;
}
.posts .post .aption{
    display: flex;
    justify-content: space-between;
    padding: 0vh 3vh;
    align-items: center;
}
.posts .post .aption .grup1{
    display: flex;
    gap: 2vh;
}
.posts .post .aption .reacciones, .comentarios, .reenviar{
    background-color: #ada9a9;
    padding: 1.5vh;
    border-radius: 5vh;
    font-size: 3vh;
    box-shadow: 0vh 0.1vh 0.4vh rgba(0, 0, 0, 0.671);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; 
}
.posts .post .aption .reacciones:hover,
 .comentarios:hover, .reenviar:hover{
    background-color: #7a7777 ;
    

}

.posts .post .aption .reenviar:hover {
    transform: translateY(-0.5vh); 
    box-shadow: 0vh 0.3vh 0.6vh rgba(0, 0, 0, 0.8);
}

.contImagenPost {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1101;
    opacity: 1;
    transition: opacity 0.3s ease-out;

  }
  /* .contImagenPost.imagen {
    opacity: 1;
  } */
  .contImagenPost .salir {
    position: absolute;
    top: 1vh;
    left: 2vh;
    color: white;
    font-size: 2.7rem;
    cursor: pointer;
    transition: trasnsform 0.4s ease-in-out, color 0.4s ease-in-out;

  }
  .salir:hover {
    transform: scale(1.1); 
    color: #bb6cfc;
}
.contImagenPost .fondo {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contImagenPost .imgpost {
    background-color: #8a2be2;
    border-radius: 1.5vh;
    padding: 2vh;
    max-width: 85%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0.2vh 0.2vh 1vh rgb(48, 48, 48);
  }
  
  .contImagenPost .imgpost img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 1vh;
    box-shadow: 0.2vh 0.2vh 1vh rgb(48, 48, 48);
  }

@media (min-width: 768px) {
    .posts{
        width: 45%;
    }
    .contImagenPost .fondo {
        width: 85%;
        height: 85%;
      }
    
      .contImagenPost .imgpost {
        width:auto;
        height: 100%;
        padding: 3vh;
      }
      .contImagenPost .salir {
        top: 10px;
        left: 10px;
        font-size: 3rem;
      }
}